/**
 * This file should get overwritten if Method 1 is used. If Method 2 is chosen,
 * remove this comment and start adding your styles to this file.
 */
nav .secondary{
	float: right;
}

.navbar-default .navbar-nav > li{
	padding: 15px;
}
#order-node-form .weekly .form-type-checkboxes .form-type-checkbox{
	float: none;
  margin-right: 50px;
}
#order-node-form .form-type-checkbox{
	margin-left: 20px
}
/*
#block-locale-language {
	float: left;
}
.navbar-default .navbar-nav > li,
#block-locale-language,
.navbar-brand{
	padding-top: 17px;
}
#block-locale-language ul {
	height: 20px;
	margin: 0;
	padding: 0;
}
#block-locale-language ul li{
	display: none;
	overflow: hidden;
}

#block-locale-language ul li.active{
	display: block;
}

#block-locale-language a{
	color: #000;
}
#block-locale-language a:hover{
	text-decoration: none;
	cursor: default;
}*/
.footer{
	margin-top: 50px;
	padding-top: 50px;
	text-align: center;
	color: #777;
}
.footer a{
	color: #9d9d9d;
}
.main-container{
	padding-top: 50px;
}

#edit-comment-body-und-0-format,
#edit-body-und-0-format{
	display: none;
}
body{
	background-color: #fff;
	color: #333;
}

header.navbar-fixed-top {
    background: #fff;
    -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);


    -moz-transition:background-color .5s ease-in;
    -webkit-transition:background-color .5s ease-in;
    -o-transition:background-color .5s ease-in;
    transition:background-color .5s ease-in;
}
header.navbar-default .navbar-nav > li > a {
	text-shadow: none;
	color: #4a4a4a;
}
.navbar-default .navbar-nav a,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus{
	background-color: transparent;
	padding: 0;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover{
	color: #000;
}
.navbar-default .navbar-nav > .active > a{
	border-bottom: 1px solid #2196f3;
}

header.navbar-bigger{
	background: transparent;
}
header.navbar-smaller{
	/*background: #fff; */
}
header.navbar-bigger .navbar-nav > li > a,
.navbar-bigger .navbar-nav > .active > a,
.navbar-bigger .navbar-nav > .active > a:hover,
header.navbar-bigger .navbar-nav > li > a:hover,
.navbar-bigger .navbar-brand,
.navbar-bigger .navbar-brand:hover,
.navbar-bigger .navbar-brand:focus,
.navbar-bigger #block-locale-language a
{
	color: #fff;
}
header.navbar-bigger{
	border: none;
	-webkit-box-shadow:none;
}

.wrapper-white {
    color: #4a4a4a;
    background: #fff;
}
.wrapper-light {
    color: #f0f7fb;
    background: #fff;
}
.wrapper-dark {
    color: #fff;
    background: #566b81
}
.dale_text_center{
	text-align: center;
}
/*footer*/
.footer ul li{
	list-style: none;
	text-align: left;
	padding-bottom: 10px;
	font-size: 12px;
	letter-spacing: 1px;
	font-weight: 100;
	padding-left: 10px;
}
.footer ul li a,
.footer ul li a:hover{
	color: #fff;
}
.footer h3{
	padding-left: 40px;
  text-align: left;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}
.footer .dale-tac{
	text-align: center;

	font-size: 12px;
	font-weight: 100;
}
.footer .dale-tac h3{
	font-size:  15px;
	padding-left: 0;
	font-weight: bolder;
}

.footer .dale-tac p{
	font-size:  14px;
}
.footer .first ul,
.footer .first ul li{
	padding-left: 0;
	text-align: center;
}

#edit-locale,
.form-item-status,
.form-item-notify{
	display: none;
}
/*float-consult begin*/
	#float-consult{
    position: fixed;
    right: 0;
    top: 50%;
    visibility: hidden;
    z-index: 999;
	}
	#float-consult .fa,
	#float-consult .glyphicon{
		font-size: 20px;
	}
	#float-consult a{
		color: #333;
	}
	#float-consult .btn-consult-default:hover{
		color: #36a3dc;
	}
	#float-consult .qr{
		top: 155px;
    position: fixed;
    right: 35px;
	}
  #float-consult .qr img{
    max-width: 200px;
  }
.block-title{
	font-size: 20px;
}
.submitted{
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.submitted:before {
    content: "\e109";
}
.img80 img{
	max-width: 80px;
  opacity: 0.9;
   background: #eee;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1;
}
.img80 img:hover{
	  opacity: 1;
}
/*dev*/
#block-devel-switch-user {
	background-color: black;
}


#points{
	display: none;
}
/*dev*/

.calendar-calendar .month-view .full td.single-day div.monthview,
.calendar-calendar .week-view .full td.single-day div.weekview,
.calendar-calendar .day-view .full td.single-day div.dayview{
	padding: 5px 10px;
}

.calendar-calendar .month-view .full td.single-day div.monthview.cc-done,
.calendar-calendar .month-view .full td.single-day div.monthview.cc-done a,
.calendar-calendar .week-view .full div.single-day div.weekview.cc-done,
.calendar-calendar .week-view .full div.single-day div.weekview.cc-done a,
.calendar-calendar .day-view .full div.single-day div.dayview.cc-done,
.calendar-calendar .day-view .full div.single-day div.dayview.cc-done a{
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.calendar-calendar .month-view .full td.single-day div.monthview.cc-tnff,
.calendar-calendar .month-view .full td.single-day div.monthview.cc-tnff a,
.calendar-calendar .week-view .full div.single-day div.weekview.cc-tnff,
.calendar-calendar .week-view .full div.single-day div.weekview.cc-tnff a,
.calendar-calendar .day-view .full div.single-day div.dayview.cc-tnff,
.calendar-calendar .day-view .full div.single-day div.dayview.cc-tnff a{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.calendar-calendar .month-view .full td.single-day div.monthview.cc-today,
.calendar-calendar .month-view .full td.single-day div.monthview.cc-today a,
.calendar-calendar .week-view .full div.single-day div.weekview.cc-today,
.calendar-calendar .week-view .full div.single-day div.weekview.cc-today a,
.calendar-calendar .day-view .full div.single-day div.dayview.cc-today,
.calendar-calendar .day-view .full div.single-day div.dayview.cc-today a{
	color:#fff;
  background-color:#ff5722;
}
.calendar-calendar .month-view .full td.single-day div.monthview.cc-coming,
.calendar-calendar .month-view .full td.single-day div.monthview.cc-coming a,
.calendar-calendar .week-view .full div.single-day div.weekview.cc-coming,
.calendar-calendar .week-view .full div.single-day div.weekview.cc-coming a,
.calendar-calendar .day-view .full div.single-day div.dayview.cc-coming,
.calendar-calendar .day-view .full div.single-day div.dayview.cc-coming a{
	color:#666;
  background-color:#eeeeee;
}

.calendar-calendar .month-view .full td.single-day div.monthview.cc-aol,
.calendar-calendar .month-view .full td.single-day div.monthview.cc-aol a,
.calendar-calendar .week-view .full div.single-day div.weekview.cc-aol,
.calendar-calendar .week-view .full div.single-day div.weekview.cc-aol a,
.calendar-calendar .day-view .full div.single-day div.dayview.cc-aol,
.calendar-calendar .day-view .full div.single-day div.dayview.cc-aol a{
    color:#fff;
  background-color:#666;
}

.calendar-calendar .month-view .full td.date-box.today,
.calendar-calendar .month-view .full tr td.multi-day.ends-today,
.calendar-calendar .month-view .full tr td.single-day.today {
  border-color:red;
}
.form-item-roles{
	display: none;
}

.bg-brown{
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.bg-green{
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.bg-grey{
    color: #fff;
    background-color: #bdbdbd;
    border-color: #9e9e9e;
}
/*float-consult begin*/
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media only screen and (max-width : 768px) {

}
